node_modules/
.env
uploads/
*.log
dist/

# React Native
app/android/app/build/
app/ios/Pods/
app/ios/build/
.gradle/
.idea/
*.iml

# Expo
.expo/
app-expo/dist/
app-expo/web-build/

# OS
.DS_Store
Thumbs.db
